html{
  background-color: #EAE7DC;
  background-size: cover;
  font-family: 'Raleway',sans-serif;;
  text-align: center;
}

/* Smaller text */
.smaller {
  font-size: 14px;
}

/* Colored text */
.colored {
  color: #d8c3a5;
}

/* Bio text */
.bio {
  width: 420px;
  margin: 0 auto;
  font-size: 15px;
  text-align: justify;
}

.bio a {
  color: #E98074;
  font-weight: bold;
  font-size: 17px;
}

/* Profile container */
.prof-box{
  width: 600px;
  height: 3000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.55);
  padding: 40px;
  border-radius: 10px;
  color: white;
}

/* Profile picture */
.prof-pic { 
  height: 200px;
  width: 200px;
  border-radius: 90px;
}

/* Name container */
.name {
  margin-top: -20px;
  text-shadow: 5px 5px rgba(0,0,0,0.1);
}

/* William */
#firstName{
  margin-left: 35px;
  margin-bottom: -100px;
  color: #d8c3a5;
  font-size: 55px;
  text-align: left;
  letter-spacing: 4px;
}

/* Roller */
#lastName {
  color: #E98074;
  font-stretch: expanded;
  font-size: 110px;
  letter-spacing: 2px;
}

/* Line for separating divs */
 .line-break {
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid white;
 }

.resume {
  margin-top: -10px;
  font-weight: bolder;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
  text-shadow: 2px 2px rgba(0,0,0,0.1);
}

.resume a {
  color: #d8c3a5;
}

.ab-website {
  width: 420px;
  height: 217px;
  margin-top: 25px;
}

/* Needed for skill bars */
* {box-sizing:border-box}

/* Individual skill bar containers */
.container {
  width: 70%;
  margin: 0 auto;
}

/* Skill master container */
.skills {

  line-height: 30px;
  padding-right: 20px;
  color: gray;
  text-align: right; 
  font-weight: bolder;
  box-shadow: 5px 5px rgba(0,0,0,0.1);
}

/* Skill bar master container */
.skill-container {
  margin-top: 40px;
}

/* Skill bars and colors */
.java {width: 90%; background-color: #d8c3a5;} 
.c {width: 90%; background-color: #d8c3a5;}
.sql {width: 80%; background-color: #d8c3a5;} 
.html {width: 80%; background-color: #d8c3a5;} 
.css {width: 80%; background-color: #d8c3a5;} 
.python {width: 70%; background-color: #d8c3a5;} 
.js {width: 60%; background-color: #d8c3a5;}
.cpp {width: 60%; background-color: #d8c3a5;} 

/* Certifications container */
.certifications {
  height: 175px;
}

/* Certifications list */
.certifications ul{
  width: 100%;
  margin-left: 30%;
  margin-top: 10px;
  padding: 10px;
}

/* Left side certifications */
.cert1 {
  width: 40%;
  float: left;
}

/* Right side certifications */
.cert2 {
  width: 40%;
  margin-left: 40%;
}

 /* Social icons */
.social-icons {
  text-align: center;
  font-size: 40px;
}

/* Social icons link override */
.social-icons a {
  color: #d8c3a5;
}

/* Div titles */
h2 {
  margin-top: -5px;
  margin-bottom: -20px;
  color: #E98074;
  font-size: 50px;
  letter-spacing: 7px;
  text-shadow: 5px 5px rgba(0,0,0,0.1);
  
}

/* Organization title */
h3 {
  margin-bottom: -10px;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 3px;
}

/* Organization link override */
h3 a {
  color: #d8c3a5;
  text-shadow: 3px 3px rgba(0,0,0,0.1);
}

/* JobTitle */
h4 {
  margin-top: 15px;
  margin-bottom: -10px;
  color: #E98074;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
  text-shadow: 3px 3px rgba(0,0,0,0.1);
}

/* Software Developer */
 h5 {
  margin-left: 110px;
  margin-top: -90px;
  color: #d8c3a5;
  font-size: 25px;
  letter-spacing: 3px;
 }

/* Certificates title */
 h6 {
  margin-top: 15px;
  margin-bottom: -10px;
  color: #E98074;
  font-size: 25px;
  letter-spacing: 3px;
  text-shadow: 3px 3px rgba(0,0,0,0.1);
 }

/* (unorganized) Lists */
 ul {
  width: 85%;
  margin-left: 50px;
  padding: 0;
  text-align: left;
  font-size: 15px;
  list-style-type: none;
 }

/* Links */
 a {
  color: white;
  text-decoration: none;
 }

/* Mobile optimization */
@media only screen and (orientation:portrait ){
  .prof-box {
    height: 4200px;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 0;
    border-radius: 0px;
  }

  .resume {
    font-size: 20px;
  }

  .certifications {
    height: 320px;
  }

  .social-icons {
    font-size:70px;
  }

  .bio a {
    font-size: 24px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  p{
    font-size: 22px;
  }

  ul {
    width: 90%;
    font-size: 22px;
  }}